/* ------------------------------------------------- */
/* ---						CSS - HTML & Body							---- */
/* ------------------------------------------------- */

html {
    scroll-behavior: smooth; /* prevents jumping instantly around */
}

body {
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,sans-serif;
    background:
        linear-gradient(
            to bottom,
            rgb(51,0,0),
            rgb(150,60,40));
    background-attachment: fixed;
    color:white;
}


/* ------------------------------------------------- */
/* ---					CSS - Page & Quick Nav					---- */
/* ------------------------------------------------- */

.page {
    padding:30px;
}

.page-nav {
    position: sticky;
    top: 10px;

    width: fit-content;
    margin: 8px auto;
    padding: 10px 12px;

    display: flex;
    gap: 4px;

    background:
        linear-gradient(
            180deg,
            rgba(255,255,255,.72),
            rgba(255,255,255,.45)
        );

    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);

    border: 1px solid rgba(255,255,255,.45);

    border-radius: 999px;

    box-shadow:
        inset 0 1px 1px rgba(255,255,255,.8),
        inset 0 -1px 0 rgba(0,0,0,.05),
        0 10px 30px rgba(0,0,0,.15);

    overflow: hidden;

    transition:
        transform .25s,
        box-shadow .25s;

    z-index: 900;
}

.page-nav:hover {
    transform: scale(1.04);

    box-shadow:
        inset 0 1px 1px rgba(255,255,255,.8),
        inset 0 -1px 0 rgba(0,0,0,.05),
        0 16px 40px rgba(0,0,0,.20);
}


.page-nav a {
    padding: .35rem .9rem;

    border-radius: 999px;

    color: #444;
    text-decoration: none;

    display: inline-flex;
    align-items: center;
    gap: 0.4em;

    transition:
        background .2s,
        transform .2s,
        color .2s;
}

.page-nav a:hover {
    background: rgba(255,255,255,.6);
    color: black;
}

.page-nav a.active {
    background: white;
    box-shadow:
        0 2px 8px rgba(0,0,0,.15);
}

/* ------------------------------------------------- */
/* ---					CSS - Headers & Sections				---- */
/* ------------------------------------------------- */

h1 {
    font-size:36px;
}

section {
    scroll-margin-top: 100px; /* <-- so that quick-nav does not obscure */
    margin-top:4px;
}


/* ------------------------------------------------- */
/* ---					CSS - Cards (Icons + text)			---- */
/* ------------------------------------------------- */

/* ----- CV Card ----- */
.cv-card{

    flex:0 0 auto;

    width:130px;

    text-align:center;

    cursor:pointer;

    transition:.25s;
}

.cv-card img{


    height:256px;

    border-radius:24px;

    box-shadow:0 8px 18px rgba(255,255,255,.4);

}

.cv-card:hover{
    transform:translateY(0px) scale(1.04);
}

/* ----- Card Row ----- */

.card-row{
    display:flex;
    gap:18px;
    overflow-x:auto;
    padding-bottom:10px;

    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: rgba(120,120,120,.45) transparent;
}

/* ----- Card (recent apps + other) ----- */

.card {
    --image-height: 150px;  /* <-- height variable for inheritance! */
    display: flex;
    flex-direction: column;
    align-items: center;   /* prevent children from stretching */
    text-align: center;
    cursor: pointer;
    transition: .25s;
}

.card:hover {
    transform: translateY(5px) scale(1.04);
}

.card-p {
  margin: 0;
}

.card-label {
    display: inline-block;      /* only as wide as the text */
    margin-top: 8px;
    padding: 0.3em 0.8em;

    border-radius: 999px;

    color: #eee;
    transition: background .25s, color .25s;
}

.card:hover .card-label {
    background: rgba(255,255,255,.6);
    color: black;
}

.card img {
    height: var(--image-height);
    border-radius: 16px;
    filter: drop-shadow(0 2px 4px rgba(255,255,255,.35));
}

/* ----- Small Card (legacy apps) ----- */

.small-card {
  --image-height: 120px;
}

/* ------------------------------------------------- */
/* ---				    	CSS - Modal Box  		  	   	---- */
/* ------------------------------------------------- */

.modal
{
    position:fixed;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    background:rgba(0,0,0,.75);

    opacity: 1;
    transition: opacity .25s ease;
    z-index: 1000;
}

.modal.hidden
{
    opacity: 0;
    pointer-events: none;
}

.modal-content
{
    position: relative;

    width: 900px;
    max-width: 90%;
    max-height: 90vh;

    overflow-y: auto;

    background: #222;
    /*color: white;*/
    color:black;

    border-radius: 20px;
    padding: 35px;

    box-shadow: 0 20px 60px rgba(0,0,0,.6);

    /*transform: scale(1);
    transition: transform .25s ease;*/
    transform: translateY(30px);
    opacity: 0;
    transition:
        transform .3s ease,
        opacity .3s ease;
}

.modal:not(.hidden) .modal-content
{
    transform: translateY(0);
    opacity: 1;
}

/*
.modal.hidden .modal-content
{
    transform: scale(.95);
}*/

.modal-close
{
    position: absolute;
    top: 15px;
    right: 15px;

    width: 42px;
    height: 42px;

    border: none;
    border-radius: 50%;

    background: transparent;
    color: #bbb;

    font-size: 30px;
    cursor: pointer;

    transition: .2s;
}

.modal-close:hover
{
    background: #444;
    color: white;
    transform: rotate(90deg);
}

.modal-close:active
{
    transform: scale(.9);
}

/*
#modalImage
{
    display: block;
    max-width: 100%;
    margin: 20px auto;
    border-radius: 12px;
}
*/

/* ------------------------------------------------- */
/* ---				  	CSS - Modal Content  			   	---- */
/* ------------------------------------------------- */

.modal-header
{
    display:flex;
    gap:24px;
    align-items:flex-start;
}

.modal-info
{
    flex: 1;
    min-width: 0;
}

.modal-icon
{
    width:100px;
    flex-shrink:0;

    border-radius:20px;

    filter: drop-shadow(0 2px 4px rgba(0,0,0,.25));
}

#modalTitle
{
    margin: 0;
    overflow-wrap: break-word;
}

.title-row
{
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
    gap:8px;
}

.keyword
{
    padding:4px 8px;
    margin-right: 4px;

    border-radius:999px;

    background:white;
    color:black;

    font-size:.8rem;
    font-weight:bold;

}

/* ------------------------------------------------- */
/* ---				  	CSS - Modal Gallery  			   	---- */
/* ------------------------------------------------- */

.gallery
{
    display:grid;

    grid-template-columns:120px 1fr;

    gap:24px;

    margin-top:30px;
}

#thumbnailColumn
{
    display:flex;

    flex-direction:column;

    gap:10px;

    overflow-y:auto;

    max-height:600px;

    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: rgba(120,120,120,.45) transparent;
}

.thumbnail
{
    width:110px;
    border-radius:12px;
    cursor:pointer;

    transition:.25s;
    opacity:.5;
    transform:scale(.95);
}

.thumbnail.selected
{
    opacity:1;

    transform:scale(1);

    filter: drop-shadow(0 2px 4px rgba(0,0,0,.35));
}

.thumbnail.video::after
{
    content: "▶";
    position: absolute;
    inset: 0;

    display: grid;
    place-items: center;

    font-size: 40px;
    color: white;
    text-shadow: 0 2px 8px black;

    pointer-events: none;
}

.preview
{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.preview img,
.preview video
{
    max-height: 500px;
    max-width: 500px;

  /*  background: rgba(255,255,255,0.12);
    border-radius: 18px;*/
    padding: 20px;
    backdrop-filter: blur(6px);
}

.preview video
{
  border-radius: 6vmin;
  overflow: hidden;
  display: block;
}

.preview h3
{
    margin: 12px 0 6px;
}

.preview p
{
    margin: 0;
}

#modalImage
{
    max-width:100%;
    max-height:500px;

/*
    border-radius:12px;

    box-shadow:0 12px 30px rgba(0,0,0,.3);*/

    transition:opacity .25s;
}

@media (max-width:500px)
{
    .gallery
    {
        grid-template-columns: auto 1fr;
    }

    #thumbnailColumn
    {
        flex-direction:row;
        overflow-x:auto;
        overflow-y:hidden;
    }

    .modal-header
    {
        flex-direction:column;
    }
}
