# Xcode user data
xcuserdata/
*.xcuserstate

# Build products
DerivedData/
.build/
build/

# macOS
.DS_Store

# Swift Package Manager
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Temporary
*.moved-aside
*.pbxuser
